<div class="test-container">
  <h1 class="test-container__title">Component Showcase</h1>

  <div class="component">
    <h2 class="component__title">App-Header</h2>
    <app-header
      [name]="headerProps.name"
      [className]="headerProps.className"
      [onClickMenu]="headerProps.onClickMenu"
      [onClickTitle]="headerProps.onClickTitle"
      [onSubmitSearch]="headerProps.onSubmitSearch"
      [onClickSearch]="headerProps.onClickSearch"
      [onClickCart]="headerProps.onClickCart"
      ><div>item 1</div>
      <div>item 2</div></app-header
    >
  </div>

  <div class="component">
    <h2 class="component__title">Review-Customer</h2>
    <app-review-customer
      [name]="reviewCustomerProps.name"
      [description]="reviewCustomerProps.description"
      [maxStars]="reviewCustomerProps.maxStars"
      [valueStars]="reviewCustomerProps.valueStars"
      [className]="reviewCustomerProps.className"
    ></app-review-customer>
  </div>

  <div class="component">
    <h2 class="component__title">Notification-Bar</h2>
    <app-notification-bar
      [className]="notificationBarProps.className"
      [onClose]="notificationBarProps.onClose"
    >
      pepe</app-notification-bar
    >
  </div>
</div>
