VITE_REDIRECT_IF_ROUTE_NOT_EXISTS=false
VITE_APP_NAME=container
VITE_REMOTE_HOME_URL=http://localhost:3010/remoteEntry.js
VITE_REMOTE_PRODUCT_DETAIL_URL=http://localhost:3020/remoteEntry.js
VITE_REMOTE_SHARED_CORE_URL=http://localhost:4000/remoteEntry.js
VITE_REMOTE_SHARED_REACT_URL=http://localhost:4010/remoteEntry.js
VITE_REMOTE_SHARED_ANGULAR_URL=http://localhost:4020/remoteEntry.js
VITE_API_URL=https://api.escuelajs.co

WATCHPACK_POLLING=true