.carousel-with-title-and-arrows {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0rem 1rem 0rem 1rem;
}

.carousel-with-title-and-arrows__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.5rem;
}

.carousel-with-title-and-arrows__header-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-black);
}

.carousel-with-title-and-arrows__header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  gap: 1rem;
}

.carousel-with-title-and-arrows__header-arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.carousel-with-title-and-arrows__header-arrow-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-with-title-and-arrows__content {
  display: flex;
  width: 100%;
  height: 11.625rem;
  margin-top: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-with-title-and-arrows__content::-webkit-scrollbar {
  display: none;
}

.carousel-with-title-and-arrows__item,
.carousel-with-title-and-arrows__item-wrapper {
  flex: 0 0 100%;
  height: 100% !important;
  scroll-snap-align: start;
}

@media screen and (width >= 1024px) {
  .carousel-with-title-and-arrows {
    padding: 0rem 6.25rem 0rem 6.25rem;
  }

  .carousel-with-title-and-arrows__header {
    height: 3.75rem;
  }

  .carousel-with-title-and-arrows__header-title {
    font-size: 3rem;
  }

  .carousel-with-title-and-arrows__content {
    height: 15rem;
    gap: 1.25rem;
  }

  .carousel-with-title-and-arrows__item,
  .carousel-with-title-and-arrows__item-wrapper {
    flex: 0 0 25rem;
  }
}
