VITE_REMOTE_HOME_URL=/mfe/home/remoteEntry.js
VITE_REMOTE_PRODUCT_DETAIL_URL=/mfe/product-detail/remoteEntry.js
VITE_REMOTE_SHARED_CORE_URL=/mfe/shared-core/remoteEntry.js
VITE_REMOTE_SHARED_REACT_URL=/mfe/shared-react/remoteEntry.js
VITE_REMOTE_SHARED_ANGULAR_URL=/mfe/shared-angular/remoteEntry.js