.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 2.5rem; /* 40px */
  background-color: var(--light-gray-warm);
}

.presentation-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0rem 1rem 0rem 1rem;
}

.presentation-information__title {
  font-size: 2.25rem; /* 36px */
  font-weight: 700;
  color: var(--black);
  margin-bottom: 1.25rem; /* 20px */
  text-align: start;
  line-height: 2.125rem; /* 34px */
  text-shadow: 0.094rem 0.094rem var(--black); /* 1.5px */
  max-width: 12ch;
}

.presentation-information__description {
  font-size: 0.875rem; /* 14px */
  color: var(--black);
  font-weight: 500;
  margin-bottom: 1.5rem; /* 24px */
  text-align: justify;
}

.presentation-information__shop-now {
  width: 100%;
  color: var(--white);
  font-size: 1rem; /* 16px */
  margin-bottom: 1.25rem;
}

.presentation-information__counts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.presentation-information__counts-single {
  margin: 0rem 1.719rem 0.875rem 0rem; /* 27.5px */
}

.presentation-information__counts-single-count {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--black);
  text-align: center;
}

.presentation-information__counts-single-title {
  font-size: 0.75rem; /* 12px */
  color: var(--black);
  text-align: center;
}

.presentation-illustration {
  position: relative;
  width: 100%;
  height: 28rem; /* 448px */
}

.presentation-illustration__img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.presentation-illustration__vectors {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.presentation-illustration__vector {
  position: absolute;
  top: 0;
}

.presentation-illustration__vector--1 {
  left: 1rem;
  top: 8.563rem; /* 137px */
}

.presentation-illustration__vector--2 {
  right: 1.313rem; /* 21px */
  top: 2.5rem;
}

.presentation-illustration--desktop {
  display: none;
}

@media screen and (width >= 1024px) {
  .presentation {
    flex-direction: row;
    justify-content: space-around;
    height: 41.438rem; /* 663px */
    padding-top: 0;
  }

  .presentation-information {
    justify-content: center;
    height: 100%;
    width: 37.25rem;
    padding: 0;
    margin-left: 1.25rem;
  }

  .presentation-information__title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .presentation-information__description {
    font-size: 1rem;
  }

  .presentation-information__shop-now {
    width: 13.125rem;
  }

  .presentation-information__counts {
    justify-content: flex-start;
  }

  .presentation-information__counts-single-count {
    font-size: 2.5rem;
    text-align: start;
  }

  .presentation-information__counts-single-title {
    font-size: 1rem;
    text-align: start;
  }

  .presentation-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 100%;
  }

  .presentation-illustration__img {
    object-fit: fill;
  }

  .presentation-illustration__vectors {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .presentation-illustration__vector--1 {
    left: 1.5rem;
    top: 18rem;
  }

  .presentation-illustration__vector--2 {
    right: 3rem;
    top: 5rem;
  }

  .presentation-illustration--mobile {
    display: none;
  }
}

@media screen and (width >= 1280px) {
  .presentation-illustration {
    width: 35rem;
  }
}
