<div class="test-container">
  <h1 class="test-container__title">Component Showcase</h1>

  <div class="component">
    <h2 class="component__title">App-Header</h2>
    <app-header
      [name]="headerProps.name"
      [className]="headerProps.className"
      [options]="headerProps.options"
      [onClickMenu]="headerProps.onClickMenu"
      [onSubmitSearch]="headerProps.onSubmitSearch"
      [onClickSearch]="headerProps.onClickSearch"
      [onClickCart]="headerProps.onClickCart"
    ></app-header>
  </div>

  <div class="component">
    <h2 class="component__title">Review-Customer</h2>
    <app-review-customer
      [name]="reviewCustomerProps.name"
      [description]="reviewCustomerProps.description"
      [maxStars]="reviewCustomerProps.maxStars"
      [valueStars]="reviewCustomerProps.valueStars"
      [className]="reviewCustomerProps.className"
    ></app-review-customer>
  </div>
</div>
