.skeleton-shimmer {
  position: relative;
  background-color: var(--light-gray-neutral);
  overflow: hidden;
  height: 2rem;
  width: 100%;
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--light-gray-neutral) 0%,
    var(--gray-neutral) 20%,
    var(--light-gray-neutral) 40%,
    var(--light-gray-neutral) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-shimmer--rounded {
  border-radius: 0.5rem;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
