.button-white {
  width: fit-content;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  padding: 0.938rem 0 0.938rem 0;
  border: none;
}

.button-white--rounded {
  border-radius: 2rem;
}

.button-white--border-gray {
  border: .1rem solid var(--black-10);
}
