.product-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.product-information__separator {
  width: 100%;
  background-color: var(--black-10);
}

.product-information__color,
.product-information__size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.product-information__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black-60);
}

.product-information__colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  gap: 0.75rem;
  width: 100%;
  height: auto;
}

.product-information__sizes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-self: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: auto;
}

.product-information__sizes-size {
  font-size: 0.875rem;
  font-weight: 400;
  background-color: var(--light-gray-neutral);
  color: var(--black-60);
}

.product_information__confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  width: 100%;
  height: 2.75rem;
}

.product_information__confirm-counter-wrapper {
  width: 35%;
  height: 100%;
}

.product_information__confirm-add-cart-wrapper {
  width: 65%;
  height: 100%;
}

.product_information__confirm-counter {
  width: 100%;
  height: 100%;
}

.product_information__confirm-add-cart {
  width: 100%;
  height: 100%;
  padding: 0;
}

@media screen and (width >= 1024px) {
  .product-information {
    width: 50%;
  }

  .product-information__subtitle {
    font-size: 1rem;
  }

  .product-information__colors {
    gap: 1rem;
  }

  .product-information__sizes {
    gap: 0.75rem;
  }

  .product-information__sizes-size {
    font-size: 1rem;
  }

  .product_information__confirm {
    gap: 1.25rem;
    height: 3.25rem;
  }
}
