.reviews-section {
  margin-top: 3.125rem;
}

.reviews-section__header {
  margin-bottom: 1.688rem;
}

.reviews-section__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black);
}

.reviews-section__title-number {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black-60);
}

.reviews-section__reviews {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.938rem;
  width: 100%;
  height: auto;
}

.reviews-section__review-wrapper {
  width: 100%;
  height: 100%;
}

.reviews-section__review {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (width >= 1024px) {
  .reviews-section {
    margin-top: 5rem;
  }

  .reviews-section__header {
    margin-bottom: 2rem;
  }

  .reviews-section__title {
    font-size: 1.5rem;
  }

  .reviews-section__title-number {
    font-size: 1rem;
  }

  .reviews-section__reviews {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}
