.illustration-with-title {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 11.875rem;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
}

.illustration-with-title__title {
  position: absolute;
  z-index: 20;
  top: 1rem;
  left: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.illustration-with-title__illustration {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: fit-content;
  height: 100%;
  object-fit: fill;
}

@media screen and (width >= 1024px) {
  .illustration-with-title {
    height: 18.063rem;
  }

  .illustration-with-title__title {
    font-size: 2.25rem;
  }
}
