<header class="header" [class]="className || ''" [ngClass]="{ 'header--fixed': isFixed }">
  <div class="header__logo">
    <button
      type="button"
      aria-label="header open"
      class="header__btn header__logo-open"
      (click)="onClickMenu($event)"
    >
      <app-shared-mfe
        [loader]="loadSvgHamburgerMenu"
        [componentProps]="{ className: 'header__logo-open-icon' }"
        [loadingClass]="'header__logo-open-icon-loader'"
      ></app-shared-mfe>
    </button>

    <h2 class="header__logo-title" (click)="onClickTitle($event)">
      {{ name }}
    </h2>
  </div>

  <nav class="header__options">
    <ng-content></ng-content>
  </nav>

  <app-shared-mfe
    [loader]="loadFormSearch"
    [componentProps]="{
      placeholder: texts.inputPlaceholder,
      onSubmit: onSubmitSearch,
      className: 'header__search',
    }"
    [loadingClass]="'header__search-loader'"
  ></app-shared-mfe>

  <div class="header__actions">
    <button
      type="button"
      aria-label="header search"
      class="header__btn header__action-search"
      (click)="onClickSearch($event)"
    >
      <app-shared-mfe
        [loader]="loadSvgSearch"
        [componentProps]="{ className: 'header__action-search-icon' }"
        [loadingClass]="'header__action-search-icon-loader'"
      ></app-shared-mfe>
    </button>

    <button
      type="button"
      aria-label="header cart"
      class="header__btn header__action-cart"
      (click)="onClickCart($event)"
    >
      <app-shared-mfe
        [loader]="loadSvgCartShopping"
        [componentProps]="{ className: 'header__action-cart-icon' }"
        [loadingClass]="'header__action-cart-icon-loader'"
      ></app-shared-mfe>
    </button>
  </div>
</header>
