.color-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.375rem;
  width: 2.375rem;
  border-radius: 100%;
}

.color-circle--pointer {
  cursor: pointer;
}

.color-circle__check {
  height: 0.8rem;
  width: 0.8rem;
  fill: var(--color-white);
}
