.review-customer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 11.625rem;
  gap: 0.75rem;
  padding: 1.5rem;
  border: solid 0.1rem var(--color-black-10);
  border-radius: 1rem;
}

::ng-deep.review-customer__rate-stars-wrapper {
  height: 1.188rem;
  width: 100%;
}

::ng-deep.review-customer__rate-stars {
  height: 100%;
  width: 100%;
}

::ng-deep.review-customer__rate-star {
  height: 100%;
  width: 1.188rem;
}

::ng-deep .skeleton-shimmer.review-customer__rate-stars-loader {
  width: 7rem;
  height: 1.188rem;
  border-radius: 0.25rem;
}

.review-customer__name {
  font-size: 1rem;
  font-weight: 700;
}

.review-customer__description {
  font-size: 0.875rem;
  font-weight: 400;
}

.review-customer__description--limit-4 {
  display: -webkit-box;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media screen and (width >= 1024px) {
  .review-customer {
    gap: 0.938rem;
    height: 15rem;
    width: 25rem;
    padding: 2rem;
  }

  .review-customer__name {
    font-size: 1.25rem;
  }

  .review-customer__description {
    font-size: 1rem;
  }

  ::ng-deep.review-customer__rate-stars-wrapper {
    height: 1.438rem;
  }

  ::ng-deep.review-customer__rate-star {
    width: 1.438rem;
  }

  ::ng-deep .skeleton-shimmer.review-customer__rate-stars-loader {
    height: 1.438rem;
  }
}
