.main-product-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0rem 1rem 0rem 1rem;
}

@media screen and (width >= 1024px) {
  .main-product-detail {
    padding: 0rem 6.25rem 0rem 6.25rem;
  }
}
