<div class="notification-bar" [ngClass]="className">
  <p class="notification-bar__text">
    {{ text }}<ng-content></ng-content>
  </p>

  <button
    type="button"
    class="notification-bar__btn-close"
    (click)="onClose()"
    aria-label="close notification bar"
  >
    <app-shared-mfe
      [loader]="loadSvgClose"
      [componentProps]="{ className: 'notification-bar__btn-close-icon' }"
      [loadingClass]="'notification-bar__btn-close-icon-loader'"
    ></app-shared-mfe>
  </button>
</div>
